/* LAYOUT */
$gutter: 30px;

/* COLORS */
$primary-color: #88b2cd;
$secondary-color: #6a8190;
$ok-color: #c8e6a9;
$cancel-color: #f5a7a7;

$info-color: #85c3e0;
$warning-color: #eac892;
$error-color: #e77a82;


$textDefaultColor: #555555;
$textDefaultColorLight: #c2c2c2;

$contactListBgC: yellow;

/* ITEMS LIST */
$itemListLineC: #ababab;
$itemListBgC: #e1e1e1;
$itemListBgHoverC: #e5e5e5;